* {
    margin: 0;
    padding: 0;    
}
body {
    font-family: 'Montserrat', sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}
.container {
    width: 1366px;
    margin: auto;
}
.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}
.header {
    padding-top: 63px;
}
.menu {
    float: right;
}
.menu-list {
    list-style-type: none;
    float: left;    
}
.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}
.menu-link:hover {
    color: #212121;
}
.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px; 
    border-bottom: 3px solid #212121; 
}
.menu-link-products {
    letter-spacing: 1.4px;
}
.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 200;
    text-transform: uppercase;
}
.slider-text {
    margin-top: 283px;
}
.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}
.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 3.6px;
}
.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}
.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}
.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0px;
}
.circle:hover {
    background-color: #212121;
}
.featured-new {
    height: 609px;
}
.fn-header {
    padding-top: 120px;    
    padding-bottom: 10px;
}
.fn-menu {
    float: left;
}
.fn-menu-list {
    list-style-type: none;
    float: left;    
}
.fn-menu-link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
    border-bottom: 1px solid #212121;
}
.fn-menu-link:hover {
    color: #212121;
}
.fn-menu-link-active {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 3px solid #212121; 
}
.fn_explore_all {
    float: right;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;  
    letter-spacing: 3.6px;
    padding-top: 18px; 
}
.fn_items {
    height: 270px;
    margin-top: 50px;
}
.fn_item {
    float: left;
    position: relative;
    height: 270px;
    width: 270px;
}
.fn_item_left {
    margin-right: 15px;    
}
.fn_item_right {
    margin-left: 15px;
}
.fn_item_center {
    margin-right: 15px;    
    margin-left: 15px;
}
.fn_item_image {
    height: 270px;
    width: 270px;    
}
.fn_item_image {
    position: absolute;
}
.fn_item_hover {
    border: 1px solid #9c9c9c;
    background-color: white;
    position: absolute;
    height: 270px;
    width: 270px;
    opacity: 0.9;
    visibility: hidden;
}
.fn_item:hover .fn_item_hover {
    visibility: visible;
}
.fn_item_link {
    position: absolute;
    width: 270px;
    height: 270px;
}
.fn_item_hover_icon {
    width: 48px;
    height: 48px;
    margin-left: 111px;
    margin-top: 62px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background-color: #ffffff;    
}
.fn_item_hover_icon_img {
    position: relative;
    left: 18px;
    top: 14px;
}
.fn_item_hover_name {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: 19px;
}
.fn_item_hover_details {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    width: 212px;
    margin-left: 29px;
    margin-top: 23px;
    line-height: 21.91px;
}